@bassFontSize: 14px;
@linkTextcolor: #969696;

:root {
  --color-text-main: #2d2d2d;
  --color-text: #909090;
  --color-text-height: #ff641e;
  --el-color-primary: rgb(231, 41, 41) !important;
}

@a: 20vh;

// 响应式处理
@media screen and (max-height: 400px) {
  html {
    font-size: @bassFontSize;
  }
}

@media screen and (min-height: 600px) {
  html {
    font-size: @bassFontSize*1.5;
  }
}

@media screen and (min-height: 800px) {
  html {
    font-size: @bassFontSize*2;
  }
}

// 文字超出省略
.text-in-oneline {
  color: red;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.my-text-shadow {
  text-shadow: 0 0 0.6rem BLACK,
    0 0 0.6rem red;
}

// 
.hover-scale-mixin() {
  &:hover {
    // box-shadow: var(--el-box-shadow-light);
    transform: scale(1.05);
    background-color: #f2f2f3;
    border-radius: 5%;

  }

  transition: all 0.5s;
}


* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  // font-size: 14px;
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  color: var(--color-text-main);
  background-color: #fafafa;
  user-select: none;
}



a {
  text-decoration: none;
  color: var(--color-text-main);
}

*,
*:focus,
*:hover,
input {
  outline: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

::-webkit-scrollbar-thumb:active {
  background: #999;
}

#app {
  // width: 100vw;
  // min-width: 730px;
  height: 100%;
}