.no-drag {
  -webkit-app-region: no-drag;
}
.drag {
  -webkit-app-region: drag;
}
:root {
  --color-text-main: #2d2d2d;
  --color-text: #909090;
  --color-text-height: #ff641e;
  --color-text-link: #507daf;
  --color-text-light: #c3c2c2;
  --color-theme: #e72929;
  --color-bg-light: #f2f2f3;
  --color-bg-main: #eaeaed;
  --color-border: #dcdfe6;
  --color-modal-gray: #ffffffba;
  --el-color-primary: var(--color-theme) !important;
}
li {
  list-style: none;
}
.iconfont,
.interact {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 11.2px;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  html {
    font-size: 16.8px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  html {
    font-size: 19.6px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  html {
    font-size: 22.4px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1600px) {
  html {
    font-size: 25.2px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  html {
    font-size: 28px;
  }
}
.text-in-oneline {
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.desc {
  color: var(--color-text);
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.my-text-shadow {
  text-shadow: 0 0 0.6rem BLACK, 0 0 0.6rem red;
}
.separator {
  color: var(--color-text-main);
}
.alias {
  color: var(--color-text-light);
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  color: var(--color-text-main);
  background-color: #fafafa;
  user-select: none;
}
a {
  text-decoration: none;
  color: var(--color-text-link);
}
*,
*:focus,
*:hover,
input {
  outline: none;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background: #999;
}
#app {
  height: 100%;
}
