@bassFontSize: 14px;
@linkTextcolor: #969696;

:root {
  --color-text-main: #2d2d2d;
  --color-text: #909090;
  --color-text-height: #ff641e;
  --color-text-link: #507daf;
  --color-text-light: #c3c2c2;
  --color-theme: #e72929;
  --color-bg-light: #f2f2f3;
  --color-bg-main: #eaeaed;
  --color-border: #dcdfe6;
  --color-modal-gray: #ffffffba;
  --el-color-primary: var(--color-theme) !important;
}

li {
  list-style: none;
  // line-height: 1rem;
}

.iconfont {
  cursor: pointer;
}

// 响应式处理

@media screen and (min-height: 400px) and(min-width:600px) {
  html {
    font-size: @bassFontSize;
  }
}

@media screen and (min-height: 600px) and (min-width:900px) {
  html {
    font-size: @bassFontSize*1.5;
  }
}

@media screen and (min-height: 800px)and (min-width:1300px) {
  html {
    font-size: @bassFontSize*2;
  }
}

// 文字单行省略
.text-in-oneline {
  // text-overflow: ellipsis;
  // // white-space: nowrap;
  // word-break: break-all;
  // overflow: hidden;
  .multi-line(1)
}

// 多行省略
.multi-line(@lines) {
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
}

.my-text-shadow {
  text-shadow: 0 0 0.6rem BLACK,
    0 0 0.6rem red;
}

// v-split 指令分隔符的样式
.separator {
  color: var(--color-text-main);
}



// 
.hover-scale-mixin() {
  &:hover {
    // box-shadow: var(--el-box-shadow-light);
    transform: scale(1.05);

    background-color: var(--color-bg-light);
    // border-radius: 5%;

  }

  transition: all 0.5s;
}


* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  // font-size: 14px;
  font-family: PingFang SC, Arial, Microsoft YaHei, sans-serif;
  color: var(--color-text-main);
  background-color: #fafafa;
  user-select: none;
}



a {
  text-decoration: none;
  color: var(--color-text-link);
}

*,
*:focus,
*:hover,
input {
  outline: none;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

::-webkit-scrollbar-thumb:active {
  background: #999;
}

#app {
  // width: 100vw;
  // min-width: 730px;
  height: 100%;
}